body {
    background-color: #F5F5F5;
}

header {
    background-color: #719148;
}

footer {
    background-color: #719148;
}

#reseña {
    padding-top:5%;
}

.parrafos_reseña {
    padding-top: 5%;
}

.lead {
    font-weight: 400;
}

#valores {
    font-weight: 400;
    padding-top: 5%;
}

.valores_iconos {
    width: 10%;
    padding-right: 1%;
    margin-right: 2%;
}